.answersContainer {
    display: flex;
    flex-direction: column;
}

.answersContainer span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-style: solid;
    border-radius: 10px;
    height: 50px;
    width: 300px;
    margin: 5px;
    padding-left: 10px;
}

.answersContainer span:hover  {
    color: #fdc500;
}