.questionsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answersContainer {
    display: flex;
    flex-direction: column;
}

.answersContainer span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-style: solid;
    border-radius: 10px;
    height: 50px;
    width: 300px;
    margin: 5px;
    padding-left: 10px;
}

.answersContainer span:hover  {
    color: #fdc500;
    cursor: pointer;
}

.answerComment {
    padding: 10px;
    align-self: center;
    border-radius:10px;
    font-size: 15px;
    font-weight: bold;
}