#doubleBass {
    margin-top: 50px;
    transform: rotate(290deg)
}

#forthString {
    stroke: #ff00006b;
    stroke-width: 8;
}

#forthString:hover{
    stroke: #fff0006b;
    stroke-width: 8;
    cursor: pointer;
}

#thirdString {
    stroke: #10ff006b;
    stroke-width: 8;
}

#thirdString:hover{
    stroke: #fff0006b;
    stroke-width: 8;
    cursor: pointer;
}

#secondString {
    stroke: #0070ff6b;
    stroke-width: 8;
}

#secondString:hover{
    stroke: #fff0006b;
    stroke-width: 8;
    cursor: pointer;
}

#firstString {
    stroke: #ff00f56b;
    stroke-width: 8;
}

#firstString:hover{
    stroke: #fff0006b;
    stroke-width: 8;
    cursor: pointer;
}